head
  //
    -
    #     #
    #     #   ##   #    # ######    ###### #    # #    #
    #     #  #  #  #    # #         #      #    # ##   #
    ####### #    # #    # #####     #####  #    # # #  #
    #     # ###### #    # #         #      #    # #  # #
    #     # #    #  #  #  #         #      #    # #   ##
    #     # #    #   ##   ######    #       ####  #    #

    v1: 29 Oct. 2011
    v2: 13 Mar. 2016


  meta(charset='UTF-8')
  title= page_title
  meta(name='description', content=page_description)
  link(rel='stylesheet', href='/css/main.css')
  link(rel='icon', type='/image/gif', href=site.favicon)
  link(rel="prefetch" href=photos[0].url)
  meta(name='viewport', content='width=device-width, initial-scale=1')

  meta(name='og:site_name', content=site.name)
  meta(property='og:title', content=site.title)
  meta(property='og:description', content=site.description)
  meta(property='og:image', content=site.image)
  meta(property='og:url', content=site.url)

  meta(name='twitter:title', content=site.title)
  meta(name='twitter:description', content=site.description)
  meta(property='twitter:image', content=site.image)
  meta(name='twitter:card', content='summary_large_image')
