extends /_layout/default.pug

block vars
  - var page_title = site.title
  - var page_description = site.description

mixin Testimonial(testimonial)
  article.testminials__testimonial
    blockquote
      .parts
        each part in testimonial.quote.split('.')
          .part=part
      address=testimonial.who
        .tags
          each tag in testimonial.tags
            .tag=tag

block content
  .main-container
    header.Testi
      include /_includes/nav.pug
      .Testi__content
        .Testi__catchline
          h1.title.title--light=site.name
          p.text.text--light=site.description
      section.testimonials
        .testimonials__content
          each testimonial in testimonials
            +Testimonial(testimonial)
